html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    background: $body-background;
    color: $body-color;
}

a {
    color: $link-color;
    text-decoration: $link-decoration;
  
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}
