<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/materialize.css' />
      <script src="/javascripts/jquery-1.11.2.min.js"></script>
      <script src="/javascripts/materialize.js"></script>
  </head>
  <body class="grey darken-2 white-text center-align">
    <header>
        <h1>{{title}}</h1>
    </header>
    <main>
        <div class="container row">
            {{{body}}}
        </div>
    </main>
    <footer>
        <script>
            $(document).ready(function(){
                $('.tooltipped').tooltip({delay: 50});
            });
        </script>
    </footer>
  </body>
</html>
